<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.conString"
            connectionString="Server=tcp:ihmhr.database.windows.net,1433;Data Source=ihmhr.database.windows.net;Initial Catalog=ihmhr;Persist Security Info=False;User ID=ihmhr;Password=GUIIziin022;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>
</configuration>